
# App Configuration
APP_ENV=
APP_PORT=

# Database Configuration (PostgreSQL)
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Cryptography & Tokens
JWT_PRIVATE_KEY=

JWT_PUBLIC_KEY=
JWT_ACCESS_TOKEN_EXPIRY=
JWT_REFRESH_TOKEN_EXPIRY=

# Server Resilience & Security (Fast Apps)
RATE_LIMIT_PER_MIN=
ALLOWED_ORIGINS=
READ_TIMEOUT=
WRITE_TIMEOUT=
SHUTDOWN_TIMEOUT=


# Brevo SMTP Settings
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=